* {
    margin: 0;
    padding: 0;
}

html    {
    font-size: 16px;
}

body    {
    background-color: rgb(247, 241, 231);
}

header  {
    position: fixed;
    width: 100%;
    height: 9.375rem;
    background-color: rgb(0,0,128);
    z-index: 10;
    top: 0;
}


main    {
    position: relative;
    width: 62.5rem;
    min-width: 18.75rem;
    margin: 10rem auto 3.125rem auto;
    font-family: "Roboto";
}

h1  {
    display: inline-block;
    position: relative;
    width: 31.25rem;
    bottom: 3.75rem;
    color: white;
}

h2  {
    display: block;
    position: relative;
    width: auto;
    left: 4rem;
    bottom: 3.125rem;
    color: lightblue;
    text-align: center;
}

h1,h2   {
    font-family: "Comic Neue", Arial, Helvetica, sans-serif;
}

h3  {
    display: block;
    position: relative;
    width: 100%;
    margin: .625rem 0;
    padding: .625rem 0;
    background-color: slategray;
    color: white;
    text-indent: 1.2em;
}

h4  {
    display: inline-block;
    width: 18.75rem;
    margin-top: .625rem;
    font-size: 1.25rem;
}

h3, h4  {
    font-family: "Roboto";
    font-weight: bold;
}

figcaption p    {
    font-style: italic;
}

ul  {
    position: relative;
    display: inline-block;
    width: 43.75rem;
}

li  {
    position: relative;
    display: inline-block;
    width: 8.75rem;
    padding: .3125rem 0;
    text-align: center;
    border: .1875rem solid grey;
    border-radius: .3125rem;
    background-color: rgb(145, 145, 123);
    color: white;
    bottom: 2.5rem;
    left: 3.75rem;
}

li a    {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    width: 8.125rem;
    display: inline-block;
}

li:hover    {
    color: rgb(145,145,123);
    background-color: navy;
}


figcaption  {
    width: 18.75rem;
    margin: 0 1.25rem;
    float: right;
}

figcaption p    {
    display: inline-block;
    text-align: right;
}

footer  {
    position: fixed;
    height: 1.125rem;
    width: 100%;
    z-index: 9;
    background-color: navy;
    padding: .625rem;
    bottom: 0;
    margin-top: auto;
    overflow: hidden;
}

.logo_pic img  {
    width: 6.25rem;
    
}
.logo_pic   {
    width: 6.875rem;
    display: inline-block;
}

.head_content   {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    min-width: 43.75rem;
}

.color_name {
    padding-bottom: .625rem;
    display: inline-block;
}

.color_sample   {
    display: inline-block;
    padding: 1.25rem;
    border: gray .125rem solid;
    border-radius: .3125rem;
    width: 18.75rem;
    text-align: center;
    margin-bottom: .625rem;
    font-weight: bold;
}

.color_description  {
    margin-bottom: .625rem;
}

.color_description, .font_description, .text_styles_description {
    font-size: 1.125rem;
}

.text_examples  {
    display: block;
    width: 25rem;
    text-align: left;
    border: .0625rem solid gray;
    background-color: rgb(247, 252, 247);
    border-radius: .3125rem;
    margin-left: 3.125rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 1.875rem .3125rem;
    text-align: center;
}


.light_green    {
    background-color: #D0F0C0;
    color: grey;
}

.navy_blue  {
    background-color: rgb(0,0,128);
    color: white;
}

.deep_fuchsia   {
    background-color: hsl(300,47%,54%);
    color: white;
}

.roboto_bold    {
    font-family: "Roboto";
    font-weight: bold;
}

.comic_neue_bold     {
    font-family: "Comic Neue";
    font-weight: bold;
}

.footer_text    {
    text-align: center;
    color: white;
    font-size: .875rem;
    min-width: 43.25rem;
    overflow: hidden;
}

